In [1]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go

In [2]:
# encrypted key
c = np.array(list("""VVHQWVVRHMUSGJGTHKIHTSSEJCHLSFCBGVWCRLRYQTFSVGAHWKCUHWAUGLQHNSLRLJSHBLTSPISPRDXLJSVEEGHLQWKASSKUWEPWQTWVSPGOELKCQYFNSVWLJSNIQKGNRGYBWLWGOVIOKHKAZKQKXZGYHCECMEIUJOQKWFWVEFQHKIJRCLRLKBIENQFRJLJSDHGRHLSFQTWLAUQRHWDMWLGUSGIKKFLRYVCWVSPGPMLKASSJVOQXEGGVEYGGZMLJCXXLJSVPAIVWIKVRDRYGFRJLJSLVEGGVEYGGEIAPUUISFPBTGNWWMUCZRVTWGLRWUGUMNCZVILE"""))
alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"

def create_df_freq(c):
    # returns the frequency of each letter in the crypted message
    unique, count = np.unique(c, return_counts=True)
    counts = dict(zip(unique, count))
    for k in counts.keys():
        counts[k] = [counts[k]]
    return pd.DataFrame(data=counts)

create_df_freq(c)

,A,B,C,D,E,F,G,H,I,J,...,Q,R,S,T,U,V,W,X,Y,Z
0,8,5,12,4,15,10,27,16,13,14,...,14,17,24,8,12,22,22,5,8,5

In [3]:
def shift(c):
    # returns a dataframe where the i-th line is shifted by i
    df_shifted = pd.DataFrame(data=c).T
    for shift in range(1, len(c)):
        shifted_c = np.append(c[shift:], c[:shift])
        df_append = pd.DataFrame(data=shifted_c).T
        df_shifted = df_shifted.append(df_append, ignore_index=True)
    return df_shifted
df_shifted = shift(c)

In [4]:
df_shifted

,0,1,2,3,4,5,6,7,8,9,...,321,322,323,324,325,326,327,328,329,330
0,V,V,H,Q,W,V,V,R,H,M,...,G,U,M,N,C,Z,V,I,L,E
1,V,H,Q,W,V,V,R,H,M,U,...,U,M,N,C,Z,V,I,L,E,V
2,H,Q,W,V,V,R,H,M,U,S,...,M,N,C,Z,V,I,L,E,V,V
3,Q,W,V,V,R,H,M,U,S,G,...,N,C,Z,V,I,L,E,V,V,H
4,W,V,V,R,H,M,U,S,G,J,...,C,Z,V,I,L,E,V,V,H,Q
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
326,Z,V,I,L,E,V,V,H,Q,W,...,G,L,R,W,U,G,U,M,N,C
327,V,I,L,E,V,V,H,Q,W,V,...,L,R,W,U,G,U,M,N,C,Z
328,I,L,E,V,V,H,Q,W,V,V,...,R,W,U,G,U,M,N,C,Z,V
329,L,E,V,V,H,Q,W,V,V,R,...,W,U,G,U,M,N,C,Z,V,I
330,E,V,V,H,Q,W,V,V,R,H,...,U,G,U,M,N,C,Z,V,I,L

In [5]:
def get_coinc(df_shifted):
    # returns a dataframe where the i-th column contains the index of coincidence after a shift of i
    df_coinc = pd.DataFrame()
    for i in range(1, len(df_shifted)):
        df_coinc[i] = [np.sum(df_shifted.iloc[0] == df_shifted.iloc[i])]
    return df_coinc
get_coinc(df_shifted)

,1,2,3,4,5,6,7,8,9,10,...,321,322,323,324,325,326,327,328,329,330
0,14,14,16,15,25,12,13,13,8,15,...,15,8,13,13,12,25,15,16,14,14

   1
0  e